extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/users.css')

block content
  div.welcome
    p Welcome #{username}!

  form(action="/users/logout")
    input(type="submit", value="Sign Out")
